<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>wsapp</title>
</head>
<body>
    <div>
        <form id="newpost">
            <label for="newmessage">Enter Message here</label>
            <textarea name="newmessage" id="newmessage" cols="30" rows="10"></textarea>
            <button type="submit">post</button>
        </form>
    </div>
    <div id="messages">
        Welcome to wsapp
    </div>
    <script src="/client.js" defer></script>
</body>
</html>